# Python byte-code files
__pycache__/
*.pyc

# Virtual Environment
myvenv/
venv/
.myvenv/
.venv/

# Env variables file
.env

# Data and export files
data/*
!data/.empty
!data/sample_docs
exports/*
!exports/.empty
slides*

# Logs
log/*
!log/.empty

# Local data folders:
local/
resources/
vector_db/
bak/
flagged/
obsolete/

# My local files
my_*
local_*
tmp*

# IDE
.vscode/

# mypy and pytest
.mypy_cache/
.pytest_cache/

# Compact code, bins
*.tar

# Other
todo.txt
to-do.txt
tasklist.md
